html {
    font-family: sans-serif;
}

table {
    border: 1px solid black;
    width:80%;
    margin: 2% 10%;
    margin-bottom:0px;
    border-collapse: collapse
}

.title  tr  td {
    height: 200px;
    padding: 5px 10px;
}

.title tr td ul {
    list-style-type:none;
    text-align: center;
    margin-top: 5%;
    line-height: 1.5em
}

.content tr {
    height: 30px;
}

.content tr td {
    padding: 10px;    
}
